@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    padding: 10px;
    margin: 15px;
    font-family: 'Concert One', cursive;
}
.navbar .navbar-nav {
   margin: 5px;

}
.navbar .navbar-nav a{
  margin: 2px;
  font-size: 20px;
}
.navbar-nav a:hover{
    background-color: #111111;
}

